.list-cart {
  margin-top: 49px;
  text-align: start;
  width: 90%;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 7px;
  background-color: rgba(8, 42, 82, 0.986);
  color: #fff;
}
.book-btn {
  background-image: linear-gradient(#083966, #144879);
  display: inline-block;
  padding: 8px 20px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #1e5f9c;
  border-radius: 7px;
  transition: all 0.15s;
  box-shadow: 0 1px 1px #64a8e7;
}
.book-btn:hover {
  transform: scale(0.99);
}
