.header-container {
  background-color: #00315e;
  color: #fff;
  height: 70px;
  overflow: hidden;
}
.bg-container {
  width: 100vw;
  display: table;
  height: 285px;
  background: linear-gradient(rgba(15, 15, 40, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../images/doctor-bakcground.jpg");
}
.input-field {
  position: relative;
}
.input-field i {
  position: absolute;
  color: rgb(139, 133, 133);
  font-size: 14px;
  top: 8px;
  left: 2%;
}
.input-field input {
  width: 350px;
}
.main-title {
  font-weight: 600;
  color: #fff;
}
.site-name {
  font-weight: 600;
  font-size: 1.5rem;
}
